.container {
    padding-top: 5rem;
    text-align: center;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

body {
    background: antiquewhite;
}

.card {
    width: 16em;
    height: 20em;
    margin: 20px;
    background: white;
    border-radius: 1.2em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
    transition: all ease 200ms;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: inherit;
    height: auto;
}

.title-body h3 {
    max-height: 80px;
    min-width: 50px;
    font-size: 1.45em;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 35px;
    /* font-family: fantasy; */
}

.title-body {
    height: 26px;
}

.card-body {
    margin-top: -25px;
    font-family: auto;
}

.container button {
    margin-top: 6px;
    width: 80px;
    height: 30px;
    border-radius: 0.6em;
    border-color: #c29d88;
    color: white;
    background-color: #754f38db;
    font-family: initial;
    font-size: 13px;
    font-family: math;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup-title {
  text-decoration: none;
  color: white;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
  